<div class="mt-2 p-2 bg-secondary text-white rounded">
  <h4>Control Flow Statement</h4>
  <h3><span>&#64;</span> For,<span>&#64;</span> Switch Case, </h3>
</div>
<div class="row my-3">
  <div class="col-3">
    <input type="text" [(ngModel)]="dayNumber" />
  </div>
  <div class="col-3"> Day Name is: @switch (dayNumber) { @case ('1') { <span>Monday</span> } @case ('2') {
    <span>Tuesday</span> } @case ('3') { <span>Wednesday</span> } @case ('4') { <span>Thursday</span> } @case ('5') {
    <span>Friday</span> } @case ('6') { <span>Saturday</span> } @case ('7') { <span>Sunday</span> } @default {
    <span>Invalid Day</span> } } </div>
</div>
<div class="row">
  <div class="col-3">
    <ul> @for (item of cityName; track $index) { <li>{{item}}</li> } </ul>
  </div>
  <div class="col-3"> @for (item of cityName; track $index) { <div>{{item}}</div> } </div>
  <div class="col-3">
    <select> @for (item of cityName; track $index) { <option>{{item}}</option> } </select>
  </div>
  <div class="col-3">
    <select> @for (item of studentList; track $index) { <option [value]="item.studId">{{item.studName}}</option> }
    </select>
  </div>
</div>
<div class="row">
  <div class="col-5">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>Sr No</th>
          <th>ID</th>
          <th>Name</th>
          <th>Gender</th>
          <th>City</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody> @for (item of studentList; track $index) { <tr>
          <td>{{$index + 1}}</td>
          <td>{{item.studId}}</td>
          <td>{{item.studName}}</td>
          <td>{{item.gender}}</td>
          <td>{{item.city}}</td>
          <td>{{item.isActive ? 'Active' : 'Inactive'}}</td> } </tbody>
    </table>
  </div>
</div>